{%- extends 'layout.tmpl' %}
{%- block content %}
{%- include 'site/contentheading.inc.tmpl' with context %}
{%- include 'inc/backends/installstate/_tabs.inc.tmpl' with context %}
{%- include 'inc/backends/_backlink.inc.tmpl' with context %}
{%- endblock content %}
{%- block js_scripts %}
<script src='/static/js/admincenter/widgets.js' type='text/javascript'></script>
<script src='/static/js/admincenter/jsoncalls.js' type='text/javascript'></script>
<script src='/static/js/admincenter/backends/installstate/show.js' type='text/javascript'></script>
{%- endblock js_scripts %}

