<div class='row'>
    <div class='span3'>
        Hostname:
    </div>
    <div class='span6'>
        {{installstate.hostname}}
    </div>
</div>
<div class='row'>
    <div class='span3'>
        Deployment State:
    </div>
    <div class='span6'>
        <select name='installstate[status]'>
        </select>
        {{installstate.status}}
    </div>
</div>
<div class='row'>
    <div class='span3'>
        Progress
    </div>
    <div class='span6'>
        {{installstate.progress}}
    </div>
</div>
