<div class='row'>
    <div class='span3'>
        Hostname:
    </div>
    <div class='span6'>
        {{installstate.hostname}}
    </div>
</div>
<div class='row'>
    <div class='span3'>
        Deployment State:
    </div>
    <div class='span6'>
        {%- for installmethod in installmethods %}
        {%- if installstate.status == installmethod.type %}
        {{installmethod.name}}
        {%- endif %}
        {%- endfor %}
    </div>
</div>
<div class='row'>
    <div class='span3'>
        Progress
    </div>
    <div class='span6'>
        {{installstate.progress}}
    </div>
</div>
