<div class='row'>
  <div class='span6'>
    <button class='btn' id='delete_server' data-server-id='{{server._id}}' data-backend-id='{{backend_id}}'>Delete this server</button>
    <button class='btn' id='delete_server_complete' data-server-id='{{server._id}}' data-backend-id='{{backend_id}}'>Delete this server completly</button>
  </div>
</div>