<input type='hidden' name='server_id' value='{{server._id}}'/>
<div class='container-fluid edit_form' id='server_general'>
    <div class='row-fluid'>
        <div class='span2'><label for='uuid'>UUID</label></div>
        <div class='span9'><input type='text' class='span6' id='uuid' name='uuid' value='{{server.uuid}}' readonly /></div>
    </div>
    <div class='row-fluid'>
        <div class='span2'><label for='serial_no'>Serial Number</label></div>
        <div class='span9'><input type='text' class='span6' id='serial_no' name='serial_no' value='{{server.serial_no}}' readonly/></div>
    </div>
    <div class='row-fluid'>
        <div class='span2'><label for='manufacturer'>Manufacturer</label></div>
        <div class='span9'><input type='text' class='span6' id='manufacturer' name='manufacturer' value='{{server.manufacturer}}' readonly/></div>
    </div>
    <div class='row-fluid'>
        <div class='span2'><label for='product_name'>Product Name</label></div>
        <div class='span9'><input type='text' class='span6' id='product_name' name='product_name' value='{{server.product_name}}' readonly/></div>
    </div>
    <div class='row-fluid'>
        <div class='span2'><label for='location'>Location</label></div>
        <div class='span9'><input type='text' class='span6' id='location' name='location' value='{{server.location}}'/></div>
    </div>
    <div class='row-fluid'>
        <div class='span2'><label for='asset_tags'>Asset Tags</label></div>
        <div class='span9'><input type='text' class='span6' id='asset_tags' name='asset_tags' value='{{server.asset_tags}}'/></div>
    </div>
</div>
