<div class='container'>
    <div class='row'>
        <div class='span6'>
            <table class='table table-bordered tabled-striped'>
                <thead>
                    <tr>
                        <th>Type of RIB</th>
                        <th>RIB IP</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for rib in ribs %}
                    <tr>
                        <td>{%- for rib_type in ribdef %}
                            {%- if rib_type.remote_type == rib.remote_type %}
                            {{ rib_type.name }}
                            {%- endif %}
                            {%- endfor %}
                        </td>
                        <td><a href='https://{{rib.remote_ip}}/' class='btn'><i class='icon-cog'></i> {{rib.remote_ip}}</a></td>
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
