<div class='container'>
    <div class='row'>
        <div class='span2'>UUID</div>
        <div class='span6'>{{server.uuid}}</div>
    </div>
    <div class='row'>
        <div class='span2'>Serial Number</div>
        <div class='span6'>{{server.serial_no}}</div>
    </div>
    <div class='row'>
        <div class='span2'>Manufacturer</div>
        <div class='span6'>{{server.manufacturer}}</div>
    </div>
    <div class='row'>
        <div class='span2'>Product Name</div>
        <div class='span6'>{{server.product_name}}</div>
    </div>
    <div class='row'>
        <div class='span2'>Location</div>
        <div class='span6'>{{server.location}}</div>
    </div>
    <div class='row'>
        <div class='span2'>Asset Tags</div>
        <div class='span6'>{{server.asset_tags}}</div>
    </div>
</div>
