<div class='container-fluid'>
    <div class='row-fluid'>
        <div class='span12'>
            <UL class='nav nav-tabs widget-tab' id='server_informations'>
                <LI class='active'><a href='#dc_server_general_{{backend_id}}_{{server._id}}' data-toggle='tab'>General Information</a></li>
                <LI><a href='#dc_server_mac_{{backend_id}}_{{server._id}}' data-toggle='tab'>Network Interfaces</a></li>
                <LI><a href='#dc_server_rib_{{backend_id}}_{{server._id}}' data-toggle='tab'>Remote Insight Boards</a></LI>
            </UL>
            <div class='tab-content'>
                <div class='tab-pane active' id='dc_server_general_{{backend_id}}_{{server._id}}'>
                    {%- if page.action=='show' %}
                    {%- include 'inc/backends/servers/_server_general.inc.tmpl' with context %}
                    {%- endif %}
                    {%- if page.action=='edit' %}
                    {%- include 'inc/backends/servers/_edit_server_general.inc.tmpl' with context %}
                    {%- endif %}
                </div>
                <div class='tab-pane' id='dc_server_mac_{{backend_id}}_{{server._id}}'>
                    {%- if page.action=='show' %}
                    {%- include 'inc/backends/servers/_mac_addr.inc.tmpl' with context %}
                    {%- endif %}
                    {%- if page.action=='edit' %}
                    {%- include 'inc/backends/servers/_edit_mac_addr.inc.tmpl' with context %}
                    {%- endif %}
                </div>
                <div class='tab-pane' id='dc_server_rib_{{backend_id}}_{{server._id}}'>
                    {%- if page.action=='show' %}
                    {%- include 'inc/backends/servers/_ribs.inc.tmpl' with context %}
                    {%- endif %}
                    {%- if page.action=='edit' %}
                    {%- include 'inc/backends/servers/_edit_ribs.inc.tmpl' with context %}
                    {%- endif %}
                </div>
            </div>
        </div>
    </div>
    {%- if page.action=='show' %}
    <div class='row-fluid'>
        <div class='span6'>
            <h4>Additional Informations</h4>
            <div class='row-fluid'>
                <div class='span12'>
                    <div class='row-fluid'>
                        <div class='span6'>
                            Attached Host: {{ host.hostname }}.{{host.domainname}} (needs to be link to host show)
                        </div>
                </div>
            </div>
        </div>
    </div>
    {%- endif %}
</div>
