<div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="panel panel-default">
          <div class="panel-heading">Nav Menu</div>
          <div class="panel-body">
            <ul class="nav nav-stacked nav-inverse">
              <li><a href="#">Nav 1</a></li>
              <li><a href="#">Nav 2</a></li>
            </ul>
          </div>
        </div>
        <div class="panel panel-info" ng-controller="DHCPController">
          <div class="panel-heading">Known DHCP Networks<div class="pull-right"><span class="glyphicon glyphicon-refresh mouse-pointer" ng-click="refreshDHCPNetworks()"></span></div></div>
          <div class="panel-body">
            <ul class="nav nav-stacked nav-inverse">
              <li ng-repeat="network in dhcp_networks">
                {{network.rack_no}}.{{network.cluster_no}}.{{network.dcname}}.gaikai.net ({{network.ipspace}})
              </li>
            </ul>
          </div>
        </div>        
        <div class="panel" ng-class="{false: 'panel-danger', true: 'panel-success'}[isConnected]" ng-controller="SocketController">
          <div class="panel-heading">Socket Console <div class="pull-right" ng-if="isConnected">(Connected)</div><div class="pull-right" ng-if="isConnected==false">(Disconnected)</div>)</div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item" ng-class="{'list-group-item-success':$index+1 == messages.length}" ng-repeat="message in messages track by $index">{{message}} {{$index+1}} {{messages.length}}</li>
            </ul>
          </div>
        </div>        

      </div>
      <div ng-controller="MainController" ng-class="{true: 'col-lg-3', false: 'col-lg-9'}[isCollapsed]">
        <div class="panel panel-primary">
          <div class="panel-heading">Latest Discoveries<div class='pull-right'><span class="glyphicon mouse-pointer" ng-class="{true: 'glyphicon-chevron-right', false: 'glyphicon-chevron-left'}[isCollapsed]" ng-click="collapseLeft()"></span></div></div>
          <div class="panel-body clearfix">
            <div ng-repeat="rackoon in discovered_racks track by $index">
              <div ng-class="{'row': ($index+1 % 3 == 0)}">
                <div class="col-lg-4">
                  <div class="rack panel panel-info" ng-controller="RackController" ng-model="rackoon">
                    <div class="panel-heading">Rack {{rack.rack}}<div class="pull-right"><span class="glyphicon" ng-class="{true: 'glyphicon-chevron-up', 'glyphicon-chevron-down':false}[rack_collapsed]" ng-click="rackCollapse()"></span></div></div>
                    <div class="panel-body" collapse="rack_collapsed">
                      <table class="table table-bordered">
                        <tbody>
                          <tr ng-repeat="devices in rack.devices">
                            <td>{{devices}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
