<div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="panel panel-default">
          <div class="panel-heading">Nav Menu</div>
          <div class="panel-body">
            <ul class="nav nav-stacked nav-inverse">
              <li><a href="#">Nav 1</a></li>
              <li><a href="#">Nav 2</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="panel panel-primary">
          <div class="panel-heading">Latest Discoveries</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-4">
                <div class="rack panel panel-info">            
                  <div class="panel-heading">Rack r1.01.orda.gaikai.net</div>
                  <div class="panel-body">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th>47</th>
                          <td>rsw01</td>
                        </tr>
                        <tr>
                          <th>46</th>
                          <td>kura1</td>
                        </tr>
                        <tr>
                          <th>45</th>
                          <td>rmc1</td>
                        </tr>
                        <tr>
                          <th>44</th>
                          <td>konan1</td>
                        </tr>
                        <tr>
                          <th>43</th>
                          <td>konan2</td>                          
                        </tr>
                        <tr>
                          <th>42</th>
                          <td>konan3</td>                          
                        </tr>
                        <tr>
                          <th>41</th>
                          <td>konan4</td>                          
                        </tr>
                        <tr>
                          <th>40</th>
                        </tr>
                        <tr>
                          <th>39</th>
                        </tr>
                        <tr>
                          <th>38</th>
                        </tr>
                        <tr>
                          <th>37</th>
                        </tr>
                        <tr>
                          <th>36</th>
                        </tr>
                        <tr>
                          <th>35</th>
                        </tr>
                        <tr>
                          <th>34</th>
                        </tr>
                        <tr>
                          <th>33</th>
                        </tr>
                        <tr>
                          <th>32</th>
                        </tr>
                        <tr>
                          <th>31</th>
                        </tr>
                        <tr>
                          <th>30</th>
                        </tr>
                        <tr>
                          <th>29</th>
                        </tr>
                        <tr>
                          <th>28</th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="rack panel panel-info">            
                  <div class="panel-heading">Rack r2.01.orda.gaikai.net</div>
                  <div class="panel-body">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th>47</th>
                          <td>rsw01</td>
                        </tr>
                        <tr>
                          <th>46</th>
                          <td>kura1</td>
                        </tr>
                        <tr>
                          <th>45</th>
                          <td>rmc1</td>
                        </tr>
                        <tr>
                          <th>44</th>
                          <td>konan1</td>
                        </tr>
                        <tr>
                          <th>43</th>
                          <td>konan2</td>                          
                        </tr>
                        <tr>
                          <th>42</th>
                          <td>konan3</td>                          
                        </tr>
                        <tr>
                          <th>41</th>
                          <td>konan4</td>                          
                        </tr>
                        <tr>
                          <th>40</th>
                        </tr>
                        <tr>
                          <th>39</th>
                        </tr>
                        <tr>
                          <th>38</th>
                        </tr>
                        <tr>
                          <th>37</th>
                        </tr>
                        <tr>
                          <th>36</th>
                        </tr>
                        <tr>
                          <th>35</th>
                        </tr>
                        <tr>
                          <th>34</th>
                        </tr>
                        <tr>
                          <th>33</th>
                        </tr>
                        <tr>
                          <th>32</th>
                        </tr>
                        <tr>
                          <th>31</th>
                        </tr>
                        <tr>
                          <th>30</th>
                        </tr>
                        <tr>
                          <th>29</th>
                        </tr>
                        <tr>
                          <th>28</th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="rack panel panel-info">            
                  <div class="panel-heading">Rack r3.01.orda.gaikai.net</div>
                  <div class="panel-body">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th>47</th>
                          <td>rsw01</td>
                        </tr>
                        <tr>
                          <th>46</th>
                          <td>kura1</td>
                        </tr>
                        <tr>
                          <th>45</th>
                          <td>rmc1</td>
                        </tr>
                        <tr>
                          <th>44</th>
                          <td>konan1</td>
                        </tr>
                        <tr>
                          <th>43</th>
                          <td>konan2</td>                          
                        </tr>
                        <tr>
                          <th>42</th>
                          <td>konan3</td>                          
                        </tr>
                        <tr>
                          <th>41</th>
                          <td>konan4</td>                          
                        </tr>
                        <tr>
                          <th>40</th>
                        </tr>
                        <tr>
                          <th>39</th>
                        </tr>
                        <tr>
                          <th>38</th>
                        </tr>
                        <tr>
                          <th>37</th>
                        </tr>
                        <tr>
                          <th>36</th>
                        </tr>
                        <tr>
                          <th>35</th>
                        </tr>
                        <tr>
                          <th>34</th>
                        </tr>
                        <tr>
                          <th>33</th>
                        </tr>
                        <tr>
                          <th>32</th>
                        </tr>
                        <tr>
                          <th>31</th>
                        </tr>
                        <tr>
                          <th>30</th>
                        </tr>
                        <tr>
                          <th>29</th>
                        </tr>
                        <tr>
                          <th>28</th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="rack panel panel-info">            
                  <div class="panel-heading">Rack r1.02.orda.gaikai.net</div>
                  <div class="panel-body">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th>47</th>
                          <td>rsw01</td>
                        </tr>
                        <tr>
                          <th>46</th>
                          <td>kura1</td>
                        </tr>
                        <tr>
                          <th>45</th>
                          <td>rmc1</td>
                        </tr>
                        <tr>
                          <th>44</th>
                          <td>konan1</td>
                        </tr>
                        <tr>
                          <th>43</th>
                          <td>konan2</td>                          
                        </tr>
                        <tr>
                          <th>42</th>
                          <td>konan3</td>                          
                        </tr>
                        <tr>
                          <th>41</th>
                          <td>konan4</td>                          
                        </tr>
                        <tr>
                          <th>40</th>
                        </tr>
                        <tr>
                          <th>39</th>
                        </tr>
                        <tr>
                          <th>38</th>
                        </tr>
                        <tr>
                          <th>37</th>
                        </tr>
                        <tr>
                          <th>36</th>
                        </tr>
                        <tr>
                          <th>35</th>
                        </tr>
                        <tr>
                          <th>34</th>
                        </tr>
                        <tr>
                          <th>33</th>
                        </tr>
                        <tr>
                          <th>32</th>
                        </tr>
                        <tr>
                          <th>31</th>
                        </tr>
                        <tr>
                          <th>30</th>
                        </tr>
                        <tr>
                          <th>29</th>
                        </tr>
                        <tr>
                          <th>28</th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="rack panel panel-info">            
                  <div class="panel-heading">Rack r2.02.orda.gaikai.net</div>
                  <div class="panel-body">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th>47</th>
                          <td>rsw01</td>
                        </tr>
                        <tr>
                          <th>46</th>
                          <td>kura1</td>
                        </tr>
                        <tr>
                          <th>45</th>
                          <td>rmc1</td>
                        </tr>
                        <tr>
                          <th>44</th>
                          <td>konan1</td>
                        </tr>
                        <tr>
                          <th>43</th>
                          <td>konan2</td>                          
                        </tr>
                        <tr>
                          <th>42</th>
                          <td>konan3</td>                          
                        </tr>
                        <tr>
                          <th>41</th>
                          <td>konan4</td>                          
                        </tr>
                        <tr>
                          <th>40</th>
                        </tr>
                        <tr>
                          <th>39</th>
                        </tr>
                        <tr>
                          <th>38</th>
                        </tr>
                        <tr>
                          <th>37</th>
                        </tr>
                        <tr>
                          <th>36</th>
                        </tr>
                        <tr>
                          <th>35</th>
                        </tr>
                        <tr>
                          <th>34</th>
                        </tr>
                        <tr>
                          <th>33</th>
                        </tr>
                        <tr>
                          <th>32</th>
                        </tr>
                        <tr>
                          <th>31</th>
                        </tr>
                        <tr>
                          <th>30</th>
                        </tr>
                        <tr>
                          <th>29</th>
                        </tr>
                        <tr>
                          <th>28</th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="rack panel panel-info">            
                  <div class="panel-heading">Rack r3.02.orda.gaikai.net</div>
                  <div class="panel-body">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th>47</th>
                          <td>rsw01</td>
                        </tr>
                        <tr>
                          <th>46</th>
                          <td>kura1</td>
                        </tr>
                        <tr>
                          <th>45</th>
                          <td>rmc1</td>
                        </tr>
                        <tr>
                          <th>44</th>
                          <td>konan1</td>
                        </tr>
                        <tr>
                          <th>43</th>
                          <td>konan2</td>                          
                        </tr>
                        <tr>
                          <th>42</th>
                          <td>konan3</td>                          
                        </tr>
                        <tr>
                          <th>41</th>
                          <td>konan4</td>                          
                        </tr>
                        <tr>
                          <th>40</th>
                        </tr>
                        <tr>
                          <th>39</th>
                        </tr>
                        <tr>
                          <th>38</th>
                        </tr>
                        <tr>
                          <th>37</th>
                        </tr>
                        <tr>
                          <th>36</th>
                        </tr>
                        <tr>
                          <th>35</th>
                        </tr>
                        <tr>
                          <th>34</th>
                        </tr>
                        <tr>
                          <th>33</th>
                        </tr>
                        <tr>
                          <th>32</th>
                        </tr>
                        <tr>
                          <th>31</th>
                        </tr>
                        <tr>
                          <th>30</th>
                        </tr>
                        <tr>
                          <th>29</th>
                        </tr>
                        <tr>
                          <th>28</th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>