{% extends 'layout.tmpl' %}
{% block content %}
<div class='container index-page' id='pxemethods'>
    <div class='row'>
        <div class='span12'>
            <h3>DC2 Backends - PXE Bootmethods</h3>
            <hr/>
        </div>
    </div>
    <div class='row'>
        <div class='span6'>
            <table cellspacing='0' cellpadding='0' data-url-delete='/admin/backends/pxemthods/' class='table table-condensed table-striped data-list' id='backend_configuration_list'>
                <thead>
                    <tr>
                        <th><input id='check_all' type='checkbox' name='check_all'/></th>
                        <th>Hardware Type</th>
                        <th>Boot Method</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for pxe in backend_pxemethods %}
                    <tr data-edit-url='/admin/backends/pxemthods/{{pxe._id}}/edit?backend_id={{backend_id}}'>
                        <td><input class='del_check' type='checkbox' name='check' value='{{pxe._id}}'/></td>
                        <td class='data-cell'>{{pxe.hardware_type}}</td>
                        <td class='data-cell'>{{pxe.pxe_bootmethod}}</td>
                    </tr>
                    {%- endfor %}
                </tbody>

            </table>
            <div class='btn-toolbar pull-right'>
                <div id="backendconfbtn" class="btn-group list-btn-group">
                    <button type="button" name="btn_add" data-type='url' data-url='{{ controller.create_controller_url('new',query_string=[{'backend_id':backend_id}]) }}' class="btn btn_add"><i class="icon-plus"></I> Add</button>
                    <button type="button" name="btn_refresh" data-type='url' data-url='/admin/backends/sysgroups?backend_id={{backend_id}}' class="btn btn_refresh"><i class="icon-refresh"></I> Refresh</button>
                    <button type="button" name="btn_delete" data-type='jsfunc' data-list='true' data-query='backend_id={{backend_id}}' data-action='delete' class="btn btn_delete"><i class="icon-minus"></i> Delete</button>
                </div>
                <div class='btn-group'>
                    <button type='button' name='btn_updateHW' class='btn btn_updateHW'>Update Hardware</button>
                </div>
            </div>
 
        </div>
    </div>
</div>
{% endblock %}
