{% import 'macros/input.macro.tmpl' as forms with context -%}
{% extends 'layout.tmpl' %}
{% block content %}
<div class='container'>
    <div class='row'>
        <div class='span12'>
            <h3>{{ page.title }}</h3>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class='span12'>
            {% include 'admin/backends/pxemethods/_form.inc.tmpl' with context %}
        </div>
    </div>
</div>
{% endblock %}
{%- block js_scripts %}
<script src='/static/js/admincenter/widgets.js' type='text/javascript'></script>
<script src='/static/js/admincenter/editform.js' type='text/javascript'></script>
<script src='/static/js/admincenter/admin/backends/pxemethods/add_edit.js' type='text/javascript'></script>
{%- endblock js_scripts %}

