    <div class='row'>
        <div class='span2'>Server</div>
        <div class='span6'>
            <select class='span6' name='host[server]'>
                {%- for server in serverlist %}
                <option value='{{server._id}}'{%- if server._id == host.server_id %} selected{%- endif %}>{{server.serial_no}}</option>
                {%- endfor %}
            </select>
        </div>
    </div>
    <div class='row'>
        <div class='span2'>Hostname</div>
        <div class='span6'><input type='text' name='host[hostname]' value='{{host.hostname}}' class='span6'/></div>
    </div>
    <div class='row'>
        <div class='span2'>Domainname</div>
        <div class='span6'><input type='text' name='host[domainname]' value='{{host.domainname}}' class='span6'/></div>
    </div>
    <div class='row'>
        <div class='span2'>Environment</div>
        <div class='span6'>
            <select class='span6' name='host[environments]'>
                {%- for env in environlist %}
                <option value='{{env.name}}'{%- if env.name == host.environments %} selected{%-endif%}>{{env.name}}</option>
                {%- endfor %}
            </select>
        </div>
    </div>
