<div class='container-fluid edit_table'  id='host_interfaces'>
    <div class='row-fluid'>
        <div class='span12'>
            <table class='table table-bordered tabled-striped' id='table_edit_host_interfaces'>
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>INET Type</th>
                        <th>IP Address</th>
                        <th>Netmask</th>
                        <th>Gateway</th>
                        <TH>IP Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class='main_tbody'>
                    {%- for interface in host.interfaces %}
                    <tr>
                        <td class="action-icon"><a href="#" class='collapsible' id='interface-{{interface.name}}' data-target="#interface-details-{{interface.name}}"><I class="icon-chevron-right"></I></a></td>
                        <td><input type='text' name='host[interfaces][{{interface.name}}][name]' value='{{interface.name}}'/></td>
                        <td>
                            <select class='input-mini select-change-div' data-iface-name='{{interface.name}}' data-iface-type='{{interface.type}}' id='host_interfaces_{{interface.name}}_type' name='host[interfaces][{{interface.name}}][type]'>
                                {%- for itype in itypes %}
                            
                                <option id='{{loop.index}}' value='{{itype.type}}'{%- if itype.type == interface.type %}selected='selected'{%-endif%}>{{itype.desc}}</option>
                                {%-endfor %}
                            </select>
                        </td>
                        <td>{{interface.inet}}</td>
                        <td><input type='text' name='host[interfaces][{{interface.name}}][ip]' value='{{interface.ip}}'/></td>
                        <td><input type='text' name='host[interfaces][{{interface.name}}][netmask]' value='{{interface.netmask}}'/></td>
                        <td><input type='text' name='host[interfaces][{{interface.name}}][gateway]' value='{{interface.gateway}}'/></td>
                        <td><input type='checkbox' name='host[interfaces][{{interface.name}}][is_ipv6]'{%- if interface.is_ipv6 %}checked='checked'{%- endif %}/> IPv6</td>
                        <td><button data-entry-type='hostinterfaces' class='btn remove pull-right'>Remove</button></td>
                    </tr>
                    <tr id='interface-details-{{interface.name}}' class='collapsible_hide'>
                        <td></td>
                        <td colspan='9'>
                            <div class='span9 div_vlan' id='div_vlan_{{interface.name}}'>
                                <label for='host[interfaces][{{interface.name}}][vlan_raw_device]'>VLAN Raw Device:</label>
                                <select id='host[interfaces][{{interface.name}}][vlan_raw_device]' name='host[interfaces][{{interface.name}}][vlan_raw_device]'>
                                    {%- for iface in host.interfaces %}
                                    {%- if iface.type=='bond_1' or iface.type=='bond_2' or iface.type=='ethernet' %}
                                    <option value='{{iface.name}}'{%- if iface.name == interface.name %}selected='selected'{%- endif %}>{{iface.name}}</option>
                                    {%- endif %}
                                    {%- endfor %}
                                </select>
                            </div>
                            <div class='span9 div_bond' id='div_bond_{{interface.name}}'>
                                <label for='host[interfaces][{{interface.name}}][slaves][]'>BOND Slave Devices</label>
                                <select id='host[interfaces][{{interface.name}}][slaves][]' name='host[interfaces][{{interface.name}}][slaves][]' size=5 multiple='multiple'>
                                    {%- for slave in server_macs %}
                                    <option value='{{slave.device_name}}'{%- if slave.device_name in interface.slaves %} selected='selected'{%-endif%}>{{slave.device_name}}</option>
                                    {%- endfor %}
                                </select>
                            </div>
                            <table class='table table-bordered table-condensed'>
                                <thead>
                                    <th>Pre Up</th>
                                    <th>Pre Down</th>
                                    <th>Post Up</th>
                                    <th>Post Down</th>
                                </thead>
                                <tbody>
                                    <td><textarea name='host[interfaces][{{interface.name}}][pre_up]'>{{interface.pre_up}}</textarea>
                                    <td><textarea name='host[interfaces][{{interface.name}}][pre_down]'>{{interface.pre_down}}</textarea></td>
                                    <td><textarea name='host[interfaces][{{interface.name}}][post_up]'>{{interface.post_up}}</textarea></td>
                                    <td><textarea name='host[interfaces][{{interface.name}}][post_down]'>{{interface.post_down}}</textarea></td>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <div class='btn-group pull-right'  id='table_btn_edit_host_interfaces'>
                <button class='btn' id='host_interfaces_add'><i class='icon-plus'></i> Add</button>
            </div>
        </div>
    </div>
</div>

<div id='table_row_edit_host_interfaces' style='display:none'>
    <table>
        <tbody>
            <tr>
                <td></td>
                <td><input type='text' name='host[interfaces][new][name]' value=''/></td>
                <td>
                    <select id='host_interfaces_new_type' class='input-mini select-change-div' data-iface-name='None' data-iface-type='None' name='host[interfaces][new][type]'>
                        {%- for itype in itypes %}
                        <option value='{{itype.type}}'>{{itype.desc}}</option>
                        {%-endfor %}
                    </select>
                </td>
                <td>Whatever</td>
                <td><input type='text' name='host[interfaces][new][ip]' value=''/></td>
                <td><input type='text' name='host[interfaces][new][netmask]' value=''/></td>
                <td><input type='text' name='host[interfaces][new][gateway]' value=''/></td>
                <td><input type='checkbox' name='host[interfaces][new][is_ipv6]'/></td>
                <td><button data-entry-type='hostinterfaces' class='btn remove pull-right'>Remove</button></td>
                <tr>
                    <td></td>
                    <td colspan='9'>
                        <div class='span9 div_vlan' id='div_vlan_None' style='display:none'>
                            <label for='host[interfaces][new][vlan_raw_device]'>VLAN Raw Device:</label>
                            <select id='host[interfaces][new][vlan_raw_device]' name='host[interfaces][new][vlan_raw_device]'>
                                <option value='None' selected='selected'>No Raw Device</option>
                                {%- for iface in host.interfaces %}
                                {%- if iface.type=='bond_1' or iface.type=='bond_2' or iface.type=='ethernet' %}
                                <option value='{{iface.name}}'>{{iface.name}}</option>
                                {%- endif %}
                                {%- endfor %}
                            </select>
                        </div>
                        <div class='span9 div_bond' id='div_bond_None' style='display:none'>
                            <label for='host[interfaces][new][slaves][]'>BOND Slave Devices</label>
                            <select id='host[interfaces][new][slaves][]' name='host[interfaces][new][slaves][]' size=5 multiple='multiple'>
                                {%- for slave in server_macs %}
                                <option value='{{slave.device_name}}'>{{slave.device_name}}</option>
                                {%- endfor %}
                            </select>
                        </div>
                        <table class='table table-bordered table-condensed'>
                            <thead>
                                <th>Pre Up</th>
                                <th>Pre Down</th>
                                <th>Post Up</th>
                                <th>Post Down</th>
                            </thead>
                            <tbody>
                                <td><textarea name='host[interfaces][new][pre_up]'></textarea>
                                <td><textarea name='host[interfaces][new][pre_down]'></textarea></td>
                                <td><textarea name='host[interfaces][new][post_up]'></textarea></td>
                                <td><textarea name='host[interfaces][new][post_down]'></textarea></td>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tr>
        </tbody>
    </table>
</div>
