<div class='container edit_table'  id='host_defaultclasses'>
    <div class='row'>
        <div class='span12'>
            <table class='table table-bordered tabled-striped' id='table_edit_host_defaultclasses'>
                <thead>
                    <tr>
                        <th>Classname</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class='main_tbody'>
                    {%- for hostclass in host.hostclasses %}
                    <tr>
                        <td>
                            <select name='host[hostclasses][{{hostclass}}]'>
                                {%- for class in defaultclasses %}
                                <option value='{{class.classname}}'{%- if class.classname == hostclass %} selected{%-endif%}>{{class.classname}}</option>
                                {%- endfor %}
                            </select>
                        </td>
                        <td><button data-entry-type='hostclass' class='btn remove pull-right'>Remove</button></td>
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class='row'>
	    <div class='span12'>
			<button class='btn pull-right' id='update_host_classes_with_template'>Select template</button>
            <select class='pull-right' id='classtemplate'>
				{%- for ct in classtemplates %}
				<option value='{{ct.name}}'>{{ct.name}}</option>
				{%- endfor %} 
	    	</select>
            <div class='btn-group pull-right'  id='table_btn_edit_host_defaultclasses'>
		    <button class='btn' id='host_defaultclasses_add'><i class='icon-plus'></i> Add</button>
	    </div>
        </div>
    </div>
</div>

<div id='table_row_edit_host_defaultclasses' style='display:none'>
    <table>
        <tbody>
            <tr>
                <td>
                    <select name='host[hostclasses][new]'>
                        {%- for class in defaultclasses %}
                        <option value='{{class.classname}}'>{{class.classname}}</option>
                        {%- endfor %}
                    </select>
                </td>
                <td><button data-entry-type='hostclass' class='btn remove pull-right'>Remove</button></td>
            </tr>
        </tbody>
    </table>
</div>
