{%- extends 'layout.tmpl' %}
{%- block content %}
{%- include 'site/contentheading.inc.tmpl' with context %}
{%- if page.context.session.authenticated %}
{%- include 'inc/dashboard_backends_list.inc.tmpl' with context %}
{%- else %}
You are not authenticated
{%- endif %}
{%- endblock content %}
{%- block js_scripts %}
<script src='/static/js/admincenter/keyhandler.js' type='text/javascript'></script>
<script src='/static/js/admincenter/widgets.js' type='text/javascript'></script>
<script src='/static/js/admincenter/jsoncalls.js' type='text/javascript'></script>
<script src='/static/js/admincenter/index.js' type='text/javascript'></script>
{%- endblock js_scripts %}
