{%- extends 'layout.tmpl' %}
{%- block content %}
{%- include 'site/contentheading.inc.tmpl' with context %}
{%- include 'inc/dashboard_backends_list.inc.tmpl' with context %}
{%- endblock content %}
