<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        {% include 'site/css.inc.tmpl' with context %}
    </head>
    <body>
        {%- block menubar %}
            {%- include 'site/menubar.inc.tmpl' with context %}
        {%- endblock %}
		 <div class='container'>
			<div class='row'>
				<div class='span12'>
					<div id='erroralert' class='alert' style='display:none'>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<h4 id='error_type'></h4>
						<span id='errortext'></span>
					</div>
				</div>
			</div>
        </div>        
        {%- if page.context.session.error %}
        {% include 'site/errors.inc.tmpl' with context %}
        {%- endif %}
        <div id='content' class='container'>
            {% block content %} {% endblock %}
        </div>

        {% include 'site/js.inc.tmpl' with context %}
        {% block js_scripts %}{% endblock %}
    </body>
</html>
