<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		{% include 'site/css.inc.tmpl' with context %}
                {% include 'site/js.inc.tmpl' with context %}
                {% block js_scripts %}{% endblock %}
	</head>
	<body>
		<div class='navbar navbar-fixed-top'>
			<div class='navbar-inner'>
                            {% include 'menu/menubar.inc.tmpl' with context %}
			</div>
		</div>
		{% block alerts %}{% endblock %}
		<div id='content' class='container-fluid'>
			{% block content %} {% endblock %}
		</div>
	</body>
</html>
