<div class="container-fluid">
    <div class="row-fluid">
        <div id="dashboard_backends" class="span6">
            <h3>Number of Backends: <span class='backendstats' id='backend_count' data-backend-type='backendstats'></span></h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>DC² Instance Name</th>
                        <th>Location</th>
                        <th>Servers</th>
                        <th>Hosts</th>
                        <th>Deployment State</th>
                    </tr>
                </thead>
                <tbody>
                    {% for backend in backendlist %}
                    <tr>
                        <td>{{backend.title}}</td>
                        <td>{{backend.location}}</td>
                        <td><span class='backendstats' id='backend_server_stats_{{backend._id}}' data-backend-type='backend_servers_stats' data-backend-id="{{backend._id}}"></span></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
