<div class="container">
    <div class="row">
        <div id="dashboard_backends" class="span12">
            <h3>Number of Backends: <span class='backendstats' id='backend_count' data-backend-type='backendstats'></span></h3>
            <table class="table table-bordered dashboard" id='dashboard_backend'>
                <thead>
                    <tr>
                        <th>DC² Instance Name</th>
                        <th>Location</th>
                        <th>Information</th>
                    </tr>
                </thead>
                <tbody>
                    {% for backend in backendlist %}
                    <tr data-backend-id="{{backend._id}}">
                        <td class='data-cell'>{{backend.title}}</td>
                        <td class='data-cell'>{{backend.location}}</td>
                        <td>
                            <table class='table table-bordered tabled-condensed'>
                                <thead>
                                    <tr>
						<th>No. of Servers</th>
                                        <th>No. of Hosts</th>
                                        <th>Localboot State</th>
                                        <th>Deployment Stats</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class='label label-success backendstats' id='backend_server_stats_{{backend._id}}' data-backend-type='backend_servers_stats' data-backend-id="{{backend._id}}"></span></td>
                                        <td><span class='label label-success backendstats' id='backend_hosts_stats_{{backend._id}}' data-backend-type='backend_hosts_stats' data-backend-id="{{backend._id}}"></span></td>
                                        <td><span class='label label-success backendstats' id='backend_deployment_stats_localboot_{{backend._id}}' data-backend-type='backend_deployment_stats' data-backend-id="{{backend._id}}" data-deployment-status='localboot'></span></td>
                                        <td><span class='label label-success backendstats' id='backend_deployment_stats_deploy_{{backend._id}}' data-backend-type='backend_deployment_stats' data-backend-id="{{backend._id}}" data-deployment-status='deploy'></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
