{% macro input(name,type='text',value='',placeholder='',size='',class='', id='',adds={}) -%}
<input name="{{name}}" type="{{type}}" value="{{value}}" placeholder="{{placeholder}}" size="{{size}}" class="input-medium {{class}}" id="{{id}}" {%- if adds %}{%- for key in adds.keys() %} {%- if adds[key]!='' %}{{key}}="{{adds[key]}}"{%-endif%}{%- endfor %}{%- endif%} />
{% endmacro %}


{% macro form(method='GET',action="",class="",id="",remote=False,enable_buttons=False,labels=False,fields=[]) -%}
<form method="{{method}}" action="{{action}}"{%- if remote %} data-remote="{{remote}}"{%- endif %} class="form-horizontal {{class}}" id="{{id}}">
        <input type="hidden" name="sectoken" value="{{ page.sectoken() }}"/>
        {%- for field in fields %}
        {%- if not labels %}
        {{ input(field.name,type=field.type,value=field.value,placeholder=field.placeholder,size=field.size,class=field.class,id=field.id,adds=field.adds)}}
        {% else %}
        {% if field.type != 'hidden' %}
        <div class="control-group">
            <label class='control-label' for='field_{{field.name}}'>{% if field.label %}{{field.label}}{%else%}{{ field.name|capitalize }}{%endif%}</label>
            <div class='controls'>
                {{ input(field.name,field.type,field.value,field.placeholder,field.size,field.class,'field_%s' % field.name,adds=field.adds) }}
            </div>
        </div>
        {% else %}
        {{ input(field.name,field.type,field.value,field.placeholder,field.size,field.class,'field_%s' % field.name, adds=fields.adds) }}
        {% endif %}
        {% endif %}
        {%- endfor %}
        {%- if enable_buttons %}
        <div class='form-action pull-right'>
            <input type='button' data-url='{{page.index}}' class='btn btn-primary btn_save' value='Save'/>
            <input type='button' data-url='{{page.index}}' class='btn btn_cancel' value='Cancel'/>
        </div>
        {%- endif %}
 

</form>
{% endmacro %}

{% macro form_navbar(method='GET',action="",class="",id="",remote=True,fields=[]) -%}
    {{ form(method=method,action=action,class='navbar-form %s' % class,enable_buttons=False,id=id,remote=remote,labels=False,fields=fields) }}
{% endmacro %}



