{% import 'macros/input.macro.tmpl' as forms with context -%}
<div class="container-fluid">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    <a href="#" class="brand">DC² AdminCenter</a>
    <div class="nav-collapse">
        <UL class="nav">
            <LI><a href="/">Home</a></LI>
            <LI><a href="#">Hello</a></LI>
        </UL>
        <UL class="nav pull-right">
            {% if not page.context.session.authenticated %}
            <LI>
                {{ forms.form_navbar(method='POST',action='/login',class='pull-right',id='loginform',remote=True,
                    fields=[
                        { 'name':'username','type':'text','placeholder':'Username','size':'','id':'','class':'' },
                        { 'name':'password','type':'password','placeholder':'Password','size':'','id':'','class':''}
                    ]
                    ) 
                }}

                <form method="post" action="/login" class="navbar-form form-inline pull-right">
                </form>
            </LI>
            {% endif %}
        </UL>
    </div>
	
</div>
