<table class='table tabled-bordered table-striped datatable-lists' id='dc_hosts_list_{{backend_id}}' data-retrieval-url='/json/backends/hosts/backend_host_list?backend_id={{backend_id}}' data-list-type='hosts' data-backend-id='{{backend_id}}'>
    <thead>
        <tr>
            <th>ID</td>
            <th>Server</TH>
            <th>Hostname</th>
            <th>Domainname</th>
            <th>Environment</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
