<div class='container-fluid'>
    <div class='row-fluid'>
        <div class='span12'>
            <UL class='nav nav-tabs' id='dc_inventory'>
                <LI class='active'><a href='#dc_servers_{{backend_id}}' data-toggle='tab'>Servers</a></li>
                <LI><a href='#dc_hosts_{{backend_id}}' data-toggle='tab'>Hosts</a></li>
                <LI><a href='#dc_installstate_{{backend_id}}' data-toggle='tab'>Deployment State</a></LI>
            </UL>
            <div class='tab-content'>
                <div class='tab-pane active' id='dc_servers_{{backend_id}}'>
                    {%- include 'inc/backends/_dc_server_list.inc.tmpl' with context %}
                </div>
            </div>
            <div class='tab-content'>
                <div class='tab-pane' id='dc_hosts_{{backend_id}}'>
                </div>
            </div>
            <div class='tab-content'>
                <div class='tab-pane' id='dc_installstate_{{backend_id}}'>
                </div>
            </div>
        </div>
    </div>
</div>
