{% import 'macros/input.macro.tmpl' as forms with context %}
{% if page.action == 'new' %}
    {{ forms.form('POST','/admin/pxe/?oformat=json',id='form_pxe',labels=True,class='data-form',enable_buttons=True,remote=True,
                fields=[
                { 'name':'type','value':pxe.type,'label':'Type','type':'text','placeholder':'Type','size':'','id':'','class':'input-xlarge' },
                { 'name':'name','value':pxe.name,'label':'Name','type':'text','placeholder':'Title','size':'','id':'','class':'input-xlarge' },
                ]) 
    }}
{% elif page.action == 'edit' %}
{{ forms.form('PUT','/admin/pxe/%s?oformat=json' % pxe._id,id='form_pxe',labels=True, class='data-form',enable_buttons=True,remote=True,
fields=[
                { 'name':'_id','value':pxe._id,'type':'hidden' },

                { 'name':'type','value':pxe.type,'label':'Type','type':'text','placeholder':'Type','size':'','id':'','class':'input-xlarge' },
                { 'name':'name','value':pxe.name,'label':'Title','type':'text','placeholder':'Title','size':'','id':'','class':'input-xlarge' },
                ]) 

}}
{% endif %}
