{% import 'macros/links.macro.tmpl' as links %}
<div class='container'>
    <div class='row'>
        <div class='span12'>
            <table class='table table-condensed table-striped'>
                <thead>
                    <tr>
                        <th>Backend Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for backend in backendlist %}
                    <tr>
                        <td>{{backend.title}}</td>
                        <td>
                            <div class='btn-group'>
                                <a href='#' class='btn btn-small'>Configuration</a>
                                <button class='btn btn-small dropdown-toggle' data-toggle='dropdown'>
                                    <span class='caret'></span>
                                </button>
                                <ul class='dropdown-menu'>
                                    <li>{{ links.href('/admin/backends/environments?backend_id=%s' % backend._id,'Environments') }}</li>
                                    <li>{{ links.href('/admin/backends/defaultclasses?backend_id=%s' % backend._id,'Default Classes') }}</li>
                                    <li>{{ links.href('/admin/backends/classtemplates?backend_id=%s' % backend._id,'Class Templates') }}</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
