{% import 'macros/input.macro.tmpl' as forms with context %}
{% if page.action == 'new' %}
    {{ forms.form('POST','/admin/backends/',id='backends_add',labels=True,
                fields=[
                { 'name':'title','value':backend.title,'label':'Title','type':'text','placeholder':'Title','size':'','id':'','class':'span12' },
                { 'name':'backend_url','value':backend.backend_url,'label':'Backend URL','type':'text','placeholder':'Backend URL','size':'','id':'','class':'span12' },
                { 'name':'location','value':backend.location,'type':'text','placeholder':'Location','size':'','id':'','class':'span12' }
                ]) 
    }}
{% elif page.action == 'edit' %}
    {{ forms.form('PUT','/admin/backends/%s' % backend._id,id='backends_add',labels=True,
                fields=[
                { 'name':'title','value':backend.title,'label':'Title','type':'text','placeholder':'Title','size':'','id':'','class':'span12' },
                { 'name':'backend_url','value':backend.backend_url,'label':'Backend URL','type':'text','placeholder':'Backend URL','size':'','id':'','class':'span12' },
                { 'name':'location','value':backend.location,'type':'text','placeholder':'Location','size':'','id':'','class':'span12' }
                ]) 
    }}
{% endif %}
 
